html,
body {
    height: 100%;
    margin: 0;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.pimg1 {
    background-image: url(images/image1.png);
    min-height: 100%;
}

.pimg2 {
    background-image: url(images/image2.png);
    min-height: 400px;
}

.pimg3 {
    background-image: url(images/image3.png);
    min-height: 400px;
}

.pimg1,
.pimg2,
.pimg3 {
    /*FOR BRINGING IMAGE TO THE CENTRE*/
    position: relative;
    background-position: center;

    /*SO THAT THE WHOLE PICTURE IS COVERED*/
    background-size: cover;

    /*So that our image is not repeated*/
    background-repeat: no-repeat;

    /*FOR PARALLEL EFFECT*/
    background-attachment: fixed;
}

.ptext {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.textBg {
    background-color: #313534;
    color: white;
    padding: 20px;
}

.section {
    /*For aligning everything at centre*/
    padding: 50px 80px;
    text-align: center;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #666;
    color: #f4f4f4
}